/* Header */

.header {
  display: flex;
  height: 13rem;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  top: 13px;
  min-height: 10rem;
  max-width: 160px;
  
}

.header__navigation {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2.6rem;
  display: flex;

  @media screen and (max-width: 768px) { 
    font-size: 1rem;
    padding-left: 3rem;
    
  }
}

.header__navigation--list {
  list-style: none;
  display: flex;
  text-decoration: none;
  margin: 0;
  width: 90%;
  min-height: 5.6rem;
  justify-content: flex-end;
  position: absolute;
  top: 3rem;
  
  @media screen and (max-width: 768px) {
    flex-direction: row;
    padding-left: 0;
    position: static;
    align-items: center;
    justify-content: flex-start;
  }
}

.header__navigation--element {
  text-decoration: none;
  width: 11rem;
  font-size: 2.2rem;
  line-height: 6rem;
  padding: 0 1rem 0 0;
  z-index: 10;

  @media screen and (max-width: 768px) {
    width: 6rem;
    font-size: 1.5rem;
    justify-content: flex-end;

  }
}

.header__navigation--element:hover {
  color: black;
  font-weight: bold;
}

.header__navigation__contact--link {
  text-decoration: none;
  color: grey;
}

.header__navigation--cv {
  width: 18rem;
  font-style: normal;
  font-weight: normal;
  color: grey;
}

.header__navigation--link {
  text-decoration: none;
  color: grey;
}

.header__navigation--link:hover {
  color: red;
  font-weight: bold;
}

/* Page About Me */

.header__navigation__contact--red {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

/* Section About Me (about.html) */

.header--wrapper {
  display: flex;
}

