

/* ABOUT ME */

.bio {
    // margin: 0 auto;
    font-size: 2rem;
    color: #3c3c3c;

    padding: 4rem;
    line-height: 3.5rem;
  }
  
  .bio__text {
    display: block;
    /* padding-top: 2rem; */
    text-align: justify;
  }
  
  .bio-list {
    list-style: none;
  }
  
  .bio__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0 0 0 0;
  }
  
  .bio__img--container {
    text-align: center;
  }
  
  .bio__img {
    width: 20rem;
    height: 20rem;
  }
  
  .bio__link {
    text-decoration: none;
    font-weight: bold;
    color: #000;
  }
  
  .bio__link:hover {
    color: #3c3c3c ;
  
  }
  
  
  