
  /* page happy fiit */

  .happyfiit {
    margin: 0 auto;
    font-size: 2rem;
    color: #3c3c3c;
    line-height: 3.5rem;
    
  }


  .happyfiit-list {
    list-style: none;
  }
  
  .happyfiit__title {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 0 0;
    font-size: 3.6rem;
    color: #423d3d;

    @media screen and (max-width: 768px) {
      font-size: 2rem;
  }
  }


  .happyfiit__img--container {
    text-align: center;
  }
  
  .happyfiit__img {
    max-height: 50rem;
  }


  .happyfiit__img  {
    z-index: -1;
    height: 60vh;
    left: 0;
    top: 20vw;
    left: 10vw;
    bottom: 20vh;
    padding: 0 2rem 0 2rem;
    }

    .happyfiit__header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-bottom: 5rem;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 2rem;
        padding-bottom: 0;
    }

    }

    .happyfiit__img2 {
      z-index: -1;
      height: 85vh;
      right: 0;
      top: 10vw;
      left: 10vw;
      bottom: 20vh;

      @media screen and (max-width: 768px) {
        display: none;
    }
    }

    .happyfiit--wrapper {
      background-image: url("../../images/polygon1.svg");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 65%;
      
      
      @media screen and (max-width: 768px) {
        background-size: 105%;
        background-position: top right;
        
    }

      
    }

    .happyfiit__logo {
      margin-top: 20rem;
      margin-right: 20rem;

      @media screen and (max-width: 768px) {
        margin: 0;
    }

    }


    .happyfiit__logo--wrapper {
      display: flex;
      flex-direction: row;
    }

    .happyfiit__logo--img {
      width: 7rem;
      height: 7rem;
      margin-right: 1rem;
    }

    .happyfiit__descr {
      font-size: 3.6rem;
      color: #423d3d;
      letter-spacing: 1.5px;

      @media screen and (max-width: 768px) {
        font-size: 2rem;
    }

    }

    .happyfiit__descr--small {
      font-size: 2.6rem;
      letter-spacing: 1.5px;

      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
    }

    }

    .happyfiit__intro {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 5rem;
      padding-bottom: 10rem;


      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
        padding-top: 0;
        padding-bottom: 1rem;
      }
    }

    .happyfiit__intro--right{
      margin-top: 5rem;
      max-width: 95vh;

      @media screen and (max-width: 768px) {
        margin-top: 0;
        padding: 2rem;
        
      }
    }


    .happyfiit__intro--text {
      font-size: 2.6rem;
      text-align: justify;

      @media screen and (max-width: 768px) {
        font-size: 1.8rem;
      }
    }

    .happyfiit__intro--title {
      text-transform: uppercase;
      font-weight: bold;
      padding: 0 0 0 0;
      font-size: 3.6rem;
      color: #423d3d;

      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }

    }

    .happyfiit__ecs {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-left: 5rem;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-left: 0;
    }

    }

    .happyfiit__ecs--text {
      max-width: 65rem;
      font-size: 2.6rem;
      text-align: justify;

      @media screen and (max-width: 768px) {
        font-size: 1.8rem;
        max-width: 120rem;
        
      }

    }


    .happyfiit__ecs--left{
      max-width: 100rem;
      margin-top: 10rem;
      margin-right: 5rem;

      @media screen and (max-width: 768px) {
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        padding: 2rem;
    }
    }

    .draw__img {
      max-width: 95vh;
    }


    .happyfiit__list {
      list-style: none;
    }


    .happyfiit__tech {
      text-transform: uppercase;
      font-weight: bold;
      padding: 0 0 0 0;
      font-size: 3.6rem;
      color: #423d3d;

      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }

    }


    .happyfiit__tech--wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-image: url("../../images/polygon2.svg");
      background-repeat: no-repeat;
      background-size: 100%;

      @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    }
    


    .happyfiit__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 50rem;
      margin-top: 18rem;
      margin-right: 20rem;

      @media screen and (max-width: 768px) {
        display: none;
    }

    }
    
    .happyfiit-list__item {
      width: 14rem;
      height: 14rem;
      font-size: 1.8rem;
      color: #fff;


    }

    .happyfiit__tech--title {
      padding-left: 10rem;
      padding-top: 14rem;

      @media screen and (max-width: 768px) {
        padding: 2rem;

      }
    }


    .happyfiit__tech--descr {

      max-width: 60rem;
      font-size: 2.6rem;

      @media screen and (max-width: 768px) {
        font-size: 1.8rem;
        text-align: justify;
      }

    }
    


.happyfiit__tech--deploy {

  @media screen and (max-width: 768px) {
    margin-top: 6rem;
  }

}